:root {
    --primary: #00003b;
    --primary-light: #3b72c1;
    --secondary: #e54e5d;
    --secondary-light: #f35b68;
    --tertiary: #434544;
    --grey-light: #ECECEC;
    --grey-lighter: #f5f5f5;
    --white: #FFFFFF;
}

h1,
h2,
h3,
h4 {
    letter-spacing: -0.1px;
}

h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    background-color: var(--primary);
    color: var(--white);
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h4 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

body {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--tertiary);
}
